[submodule "3rdParty/libmodplug"]
	path = 3rdParty/libmodplug
	url = https://github.com/AliveTeam/libmodplug.git
[submodule "3rdParty/jsonxx"]
	path = 3rdParty/jsonxx
	url = https://github.com/hjiang/jsonxx.git
[submodule "3rdParty/alive_reversing"]
	path = 3rdParty/alive_reversing
	url = https://github.com/AliveTeam/alive_reversing.git
