[submodule "3rdParty/libmodplug"]
	path = 3rdParty/libmodplug
	url = https://github.com/Konstanty/libmodplug.git
[submodule "3rdParty/jsonxx"]
	path = 3rdParty/jsonxx
	url = https://github.com/hjiang/jsonxx.git
